{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      <ul class="alert alert-error">
        {% for error in errors %}
          <li>{{ error.message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}

{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      <ul class="alert alert-error">
        {% for error in errors %}
          <li>{{ error.message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}
{% block button_attributes %}
  {% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {% set hasClass = false %}
    {% for attrname, attrvalue in attr %}
      {{ attrname }}="{{ attrvalue }}"
      {% if attrname == "class" %}
        {% set hasClass = true %}
      {% endif %}
    {% endfor %}
    {% if not hasClass %}
      class="btn"
    {% endif %}
  {% endspaceless %}
{% endblock button_attributes %}

{% block form_start %}
  {% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
      {% set form_method = method %}
    {% else %}
      {% set form_method = "POST" %}
    {% endif %}
    <form method="{{ form_method|lower }}" class="form-horizontal"
    action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
      <input type="hidden" name="_method" value="{{ method }}"/>
    {% endif %}
  {% endspaceless %}
{% endblock form_start %}

{% block form_row %}
  {% spaceless %}
    <div class="control-group">
      {{ form_label(form) }}
      {{ form_errors(form) }}
      {{ form_widget(form) }}
    </div>
  {% endspaceless %}
{% endblock form_row %}